*{
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #151515;
}

.navbar{
    width: 100%;
    height: 50px;
    background-color: black;
    position: sticky;
    z-index: 3;
    top: 0;
}

.navbar-container{
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 100%;
    color: white;
    font-family: "Sen", sans-serif;
}

.logo-container{
    flex: 1;
    transition: all 0.5s ease-in-out;
}

.logo{
    font-family: "Sen", sans-serif;
    font-size: 30px;
    color: orange;
    transition: all 0.5s ease-in-out;
}

.logo.vanish{
    display: none;
}

.search{
    background-color: transparent;
    border: 2px solid orange;
    padding: 0.5rem;
    padding-left: 0px;
    border-radius: 50px;
    font-size: 1rem;
    color: white;
    font-family: inherit;
    transition: all 0.1s ease-in-out;
}

.search.appear{
    display: flex;
    width: 800px;
}

.search:focus{
    outline:0;
    background-color: rgb(24, 23, 23);
}

.search::placeholder{
    color: white;
    padding-left: 12px;
}

.fas.fa-search{
    padding-left: 1rem;
    padding-right: 1rem;
    transition: all 0.5s ease-in-out;
}

.profile-container{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profile-text-container{
    margin: 0 10px;
}

.fa-solid.fa-circle-chevron-down{
    margin: 0 5px;
}

.profile-picture{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.toggle{
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-self: center;
    justify-content: space-around;
    position: relative;
    cursor: pointer;
}

.fas.fa-sun{
    color: gold;
    position: relative;
    top: 2px;
    right: 1px;
}

.fas.fa-moon{
    color: gold;
    position: relative;
    top: 2px;
    left: 1px;
}

.toggle-ball{
    width: 19px;
    height: 19px;
    background-color: black;
    position: absolute;
    right: 0.5px;
    border-radius: 70%;
    top: 2.6%;
    cursor: pointer;
}

.main-title{
    width: 100%;
    font-size: 80px;
    padding-top: 3%;
    text-align: center;
    color: black;
    background-color: orange;
    font-family: "Sen";
}

.sub-title{
    width: 100%;
    font-size: 20px;
    padding-top: 1%;
    padding-bottom: 2%;
    text-align: center;
    color: black;
    background-color: orange;
    font-family: monospace;
}

#source{
    color: blue;
}

main{
    background-color: #151515;
    color: white;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-list{
    background-color: orange;
    width: 300px;
    margin: 1rem;
    border-radius: 20px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    position: relative;
    overflow: hidden;
    transform: translateX(0);
    transition: all 0.1s ease-in-out;
}

.movie-list-img{
    position: relative;
    height: auto;
    width: 300px;
    object-fit: cover;
    transition: all 0.1s ease-in-out;
}

.movie-list-info{
    color: white;
    display: grid;
    grid-column-gap: 6px;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5;
}

.movie-list-title{
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 5px;
    color: black;
}

.movie-list-info span{
    margin-top: 5px;
    grid-column-start: 3;
    grid-column-end: 4;
    border-style: solid;
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
    font-weight: bold;
}

.movie-list-info span.green{
    color: green;
    border-color: green;
}

.movie-list-info span.yellow{
    color: yellow;
    border-color: yellow;
}

.movie-list-info span.red{
    color: red;
    border-color: red;
}

.movie-list-button{
    background-color: orange;
    color:white;
    font-size: 16px;
    font-weight: bold;
    border:0;
    border-radius: 50px;
    padding: 10px 20px;
}

.movie-list-desc{
    position: absolute;
    left: 90px;
    top: 0px;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(900%);
    transition: fade-in 0.2s ;
}

.movie-list:hover .movie-list-desc{
    transform: translateY(200px);
}

.movie-list:hover .movie-list-img{
    filter: blur(2px);
    transform: scale(103%);
}

.movie-list:hover{
    transform: scale(102%);
}

.modal-header {
    padding: 2px 16px;
    font-size: 3rem;
    font-weight: bold;
    background-color: orange;
    color:black;
    font-family: "Sen";
}

.modal-backdrop-img{
    padding-top: 30px;
    height: 562px;
    width: 1000px;
    display: inline-flexbox;
}

.modal-body {
    padding: 100px;
    font-size: 2rem;
    color: white;
    font-family: "Sen"
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9); 
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    color: #fefefe;
    position: relative;
    top: 15%; 
    width: 100%; 
    text-align: center; 
    margin-top: 30px;
}
  
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; 
    transition: 0.3s; 
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
  
.overlay .closebtn {
    position: absolute;
    top: 50px;
    right: 45px;
    font-size: 60px;
}

#main.active {
  background-color: white;
}

.search.active{
    color: black;
}

.search.active::placeholder{
    color: black;
}

.search.active:focus{
    background-color: wheat;
    color: black;
}

.navbar-container.active {
    background-color: white;
    color: black;
}

.toggle.active{
    background-color: black;
}

.toggle-ball.active{
    background-color: white;
    transform: translateX(-19.9px);
}

.footer{
    bottom:0;
    width:100%;
    background-color: orange;
    color: black;
    text-align: center;
    font-size: 15px;
    font-family: 'Sen';
}

/* make content don't overlap */

@media only screen and (max-height: 550px) {
    .modal-backdrop-img{
        height: 100%;
        width: auto;
    }
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 50px;
        top: 55px;
        right: 35px;
    }
    .overlay-content{
        top: 30%;
    }
}
@media only screen and (max-height: 400px) {
    .overlay .closebtn {
        font-size: 50px;
        top: 23px;
        right: 0px;
    }
}

@media only screen and (max-height: 200px) {
    .movie-list-img{
        display: none;
    }
}

@media only screen and (max-width: 1200px) {
    .modal-backdrop-img{
        transform: scale(80%);
    }
}
@media only screen and (max-width: 1100px) {
    .modal-backdrop-img{
        display: none;
    }
    .overlay .closebtn {
        font-size: 50px;
        top: 45px;
        right: 25px;
    }
    .search.appear{
        display: flex;
        width: 700px;
    }
}


@media only screen and (max-width: 1000px) {
    .toggle{
        display: none;
    }
    .search.appear{
        width: 600px;
    }
}
@media only screen and (max-width: 900px) {
    .search.appear{
        width: 550px;
    }
}
@media only screen and (max-width: 800px) {
    .search.appear{
        width: 450px;
    }
}

@media only screen and (max-width: 670px) {
    .search.appear{
        width: 350px;
    }
}
@media only screen and (max-width: 570px) {
    .profile-picture{
        display: none;
    }
    .profile-text{
        display: none;
    }
    .modal-body{
        font-size: 20px;
        padding: 30px;
    }
    .footer{
        font-size: 8px;
    }
}

@media only screen and (max-width: 500px) {
    .profile-container{
        display: none;
    }
    .search{
        left: 0;
    }
    .footer{
        font-size: 5px;
    }

}

@media only screen and (max-width: 450px) {
    .search{
        display: none;
    }
    .fas.fa-search{
        display: flex;
    }
    .movie-list-title{
        font-size: 9px;
    }
    .movie-list-info{
        font-size: 7px;
    }
    .main-title{
        font-size: 40px;
    }
    .modal-header{
        font-size: 20px;
    }
    .modal-body{
        font-size: 10px;
        padding: 20px;
    }
    .overlay .closebtn {
        font-size: 30px;
        top: 40px;
        right: 5px;
    }
    .search.appear{
        width: 300px;
    }
}

@media only screen and (max-width: 385px) {
    .movie-list-img{
        display: none;
    }
}
@media only screen and (max-width: 280px) {
    .fas.fa-search{
        transform: translateX(-5px);
        margin-left: 0px;
    }
    .logo{
        transform: scale(70%);
    }
    .logo-container{
        transform: translateX(-25px);
    }
    .modal-header{
        font-size: 10px;
    }
    .modal-body{
        font-size: 5px;
        padding: 10px;
    }
    .overlay .closebtn {
        font-size: 30px;
        top: 40px;
        right: 5px;
    }
}
@media only screen and (max-width: 254px) {
    .search{
        font-size: 10px;
    }
}
@media only screen and (max-width: 204px) {
    .logo{
        display: none;
    }
    .overlay .closebtn {
        font-size: 15px;
        top: 45px;
        right: 5px;
    }
    .footer{
        font-size: 5px;
    }
}
@media only screen and (max-width: 190px) {
    .search{
        font-size: 7px;
    }
    #rating{
        display: none;
    }

}

@media only screen and (max-width: 160px) {
    .main-title{
        font-size: 20px;
    }
    .sub-title{
        font-size: 10px;
    }
    .footer{
        font-size: 3px;
    }
    .search{
        font-size: 2px;
    }
    .overlay .closebtn {
        font-size: 15px;
        top: 45px;
        right: 1px;
    }
}
@media only screen and (max-width: 150px) {
    .movie-list-title{
        font-size: 5px;
    }

}
