*{
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #151515;
}

.navbar{
    width: 100%;
    height: 50px;
    background-color: black;
}

.navbar-container{
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
    font-family: "Sen", sans-serif;
}

.logo-container{
    flex: 1;
}

.logo{
    font-family: "Sen", sans-serif;
    font-size: 30px;
    color: orange;
}

.search{
    background-color: transparent;
    border: 2px solid orange;
    padding:0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color: white;
    font-family: inherit;
}

.search:focus{
    outline:0;
    background-color: rgb(24, 23, 23);
}

.search::placeholder{
    color: white;
}

.profile-container{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profile-text-container{
    margin: 0 10px;
}

.fa-solid.fa-circle-chevron-down{
    margin: 0 5px;
}

.profile-picture{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.toggle{
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-self: center;
    justify-content: space-around;
    position: relative;
}

.toggle-icon{
    color: gold;
    position: relative;
    top: 2px;
    left: 1px;
}

.toggle-ball{
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50%;
    top: 6%;
    cursor: pointer;
}

.main-title{
    font-size: 80px;
    padding-top: 3%;
    text-align: center;
    color: black;
    background-color: orange;
    font-family: "Sen";
}

.sub-title{
    font-size: 20px;
    padding-top: 1%;
    padding-bottom: 2%;
    text-align: center;
    color: black;
    background-color: orange;
    font-family: monospace;
}

#source{
    color: blue;
}

main{
    background-color: #151515;
    color: white;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-list{
    background-color: orange;
    width: 300px;
    margin: 1rem;
    border-radius: 20px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    position: relative;
    overflow: hidden;
    transform: translateX(0);
    transition: all 0.1s ease-in-out;
}

.movie-list-img{
    height: 420px;
    width: 300px;
    object-fit: cover;
    transition: all 0.1s ease-in-out;
}

.movie-list-info{
    color: white;
    display: grid;
    grid-column-gap: 10px;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5;
}

.movie-list-title{
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 5px;
    color: black;
}

.movie-list-info span{
    margin-top: 5px;
    grid-column-start: 3;
    grid-column-end: 4;
    border-style: solid;
    padding: 0.25rem 0.5rem;
    border-radius: 10px;
    font-weight: bold;
}

.movie-list-info span.green{
    color: green;
    border-color: green;
}

.movie-list-info span.yellow{
    color: yellow;
    border-color: yellow;
}

.movie-list-info span.red{
    color: red;
    border-color: red;
}

.movie-list-button{
    background-color: orange;
    color:white;
    font-size: 16px;
    font-weight: bold;
    border:0;
    border-radius: 50px;
    padding: 10px 20px;
}

.movie-list-button:hover, .movie-list-button:focus{
    background-color: white;
    color: orange;
}

.movie-list-desc{
    position: absolute;
    left: 90px;
    top: 170px;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(500%);
    transition: transform 0.2s ;
}

.movie-list:hover .movie-list-desc{
    transform: translateY(0);
}

.movie-list:hover .movie-list-img{
    filter: blur(2px);
    transform: scale(103%);
}

.movie-list:hover{
    transform: scale(102%);
}

.modal-header {
    padding: 2px 16px;
    font-size: 3rem;
    font-weight: bold;
    background-color: orange;
    color:black;
    font-family: "Sen";
}

.modal-body {
    padding: 50px 150px;
    font-size: 2rem;
    color: white;
    font-family: "Sen"
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9); 
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    color: #fefefe;
    position: relative;
    top: 10%; 
    width: 100%; 
    text-align: center; 
    margin-top: 30px;
}
  
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; 
    transition: 0.3s; 
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
  
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

#main.active {
  background-color: white;
}

.search.active{
    color: black;
}

.search.active::placeholder{
    color: black;
}

.search.active:focus{
    background-color: wheat;
    color: black;
}

.navbar-container.active {
    background-color: white;
    color: black;
}

.toggle.active{
    background-color: black;
}

.toggle-ball.active{
    background-color: white;
    transform: translateX(-20px);
}

.footer{
    bottom:0;
    left:0;
    width:100%;
    background-color: orange;
    color: black;
    text-align: center;
    font-size: 15px;
    font-family: 'Sen';
}

/* make content don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
